services:
  # ----------------------
  # Production
  # ----------------------

  backend-prod:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - .env
      - .env.prod
    profiles:
      - prod
    restart: always
  
  nginx-prod:
    build:
      context: frontend/
      dockerfile: ../nginx/Dockerfile.prod
    restart: always
    volumes:
      - ./nginx/nginx-prod.conf:/etc/nginx/nginx.conf:z
      - ../logs/:/var/log/nginx/
    profiles:
      - prod

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${TOKEN}
    environment:
      - TOKEN=${TOKEN}
    profiles:
      - prod


  # db-prod:
  #   image: postgres:17-alpine
  #   env_file:
  #     - .env
  #   volumes:
  #     - db-volume:/var/lib/postgresql/data
  #     - ./database:/docker-entrypoint-initdb.d/:ro
  #   profiles:
  #     - prod
  #   restart: always

  # ----------------------
  # Dev 
  # ----------------------

  nginx-dev:
    image: nginx:alpine
    ports:
      - 9000:80
    volumes:
      - ./nginx/nginx-dev.conf:/etc/nginx/nginx.conf:z
    depends_on:
      - frontend-dev
    profiles:
      - dev

  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend/src:/app/src:z
      - ./frontend/static:/app/static:z
    profiles:
      - dev

  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./backend/src:/app:z
    env_file:
      - .env
    profiles:
      - dev

  # db-dev:
  #   image: postgres:17-alpine
  #   ports:
  #     - 5432:5432
  #   env_file:
  #     - .env
  #   volumes:
  #     - db-volume:/var/lib/postgresql/data
  #     - ./database:/docker-entrypoint-initdb.d/:ro
  #   profiles:
  #     - dev


volumes:
  db-volume:
  traefik_certs:
